@import url("reset.css");
@import url("new_server.css");
@import url("server_show.css");
@import url("server_list.css");
@import url("friends.css");


html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.login-form-container {
  background-image: url("../discordbg.jpg");
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  color: #72767d;
  font-size: 18px;
  padding: 40px;
  width: 480px;
  background-color: #36393d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h1 {
  color: #ffffff;
  font-size: 25px;    
  margin: 0;
  font-weight: 300;
}

.login-form label {
  color: #b9bbbe;
  font-size: 11px;
  font-weight: 700;
  margin: 0;
}

.login-input {
  color: white;
  background-color: #303337;
  border: 1px solid #222427;
  height: 40px;
  width: 350px;
  margin-top: 8px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  padding: .5em;
}

.login-input:focus {
  border-color: #7289da;
  outline: none;
}


.session-submit {
  width: 350px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  background-color: #7289da;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.session-submit:hover {
  background-color:#5b76d4;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home {
  display: flex;
  height: 100%;
  width: 100%
}
