.friends-show-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.friends-list {
  list-style: none;
}

.friends-list li {
  display: flex;
  height: 62px;
  align-items: center;
  color: #737e8e;
  font-weight: 550;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 12px;
  overflow: hidden;
  border-bottom: 1px solid #e9e7e7;
}

.friends-status-bar {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  border-bottom: 1px solid #e9e7e7;
  font-size: 14px;
  height: 48px;
  align-items: center;
}

.friends-status-bar div {
  margin-right: 15px;
}

.friends-list li:hover {
  background-color: #e9e7e7;
}

.add-friend {
  background-color: #7289da;
  color: #fff;
  font-weight: 500;
  padding: 4px;
  border-radius: 3px;

}

.line {
    background-color: #e9e7e7;
    content: " ";
    display: inline-block;
    flex-shrink: 0;
    height: 18px;
    margin: 0 20px;
    width: 1px;
    margin-left: 150px;
}

.name-status-bar {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    border-bottom: 1px solid #e9e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 8px 30px;
}

.name-status-bar div {
    color: #99aab5;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: .025em;
    text-transform: uppercase;
}