.direct-messages-container {
  color: #fff;
  cursor: default;
  height: 100%;
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
  opacity: .3;
  overflow: hidden;
  padding: 9px 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.friends-show-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.friends-list {
  list-style: none;
}

.friends-list li {
  display: flex;
  height: 62px;
  align-items: center;
  color: #737e8e;
  font-weight: 550;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 12px;
  overflow: hidden;
  border-bottom: 1px solid #e9e7e7;
  justify-content: space-between;
}

.friends-status-bar {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
  border-bottom: 1px solid #e9e7e7;
  font-size: 14px;
  height: 48px;
  align-items: center;
}

.friends-status-bar div {
  margin-right: 15px;
  padding: 4px 8px;
  border-radius: 4px;
}

.friends-status-bar div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.friends-list li:hover {
  background-color: #e9e7e7;
}

.add-friend {
  background-color: #7289da;
  color: #fff;
  font-weight: 500;
  padding: 4px;
  border-radius: 3px;

}

.add-friend:hover {
  background-color: #7289da;
}

.line {
    background-color: #e9e7e7;
    content: " ";
    display: inline-block;
    flex-shrink: 0;
    height: 18px;
    margin: 0 20px;
    width: 1px;
    margin-left: 150px;
}

.name-status-bar {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    border-bottom: 1px solid #e9e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 8px 30px;
}

.name-status-bar div {
    color: #99aab5;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: .025em;
    text-transform: uppercase;
}

.friends-logo-container {
  /* margin-right: 10px; */
  margin-top: 10px;
} 


.friends-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #2f3136;
}

.friends-logo-div:hover {
  cursor: pointer;
  background-color: #7187df;
  
}

.friends-logo {
  height: 40px;
  width: 40px;
}

.friends-all-on {
    background-color: #4f545c;
    color: #fff;
  }

.friends-pending-on {
    background-color: #4f545c;
    color: #fff;
  }

.delete-friend {
  padding: 4px 7px;
  color: black;
  border-radius: 4px;
  background-color: lightgray;
}

.delete-friend:hover {
  background-color: gray;
}

.request-type {
  color: rgb(172, 169, 169);
  font-weight: 400;
  font-size: 14px;
}
