.messages-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
  width: 100%;
}

.chat-message {
  margin: 10px;
  color: #747f8d;
  font-size: 14px;
  border-bottom: 1px solid #eceeef;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-top: 5px;
}

.messages-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  padding-left: 18px;
  font-weight: 600;
  color: #4f545c;
  background-color: #fff;
  min-height: 43px;
  border-bottom: 1px solid lightgray;
}

.new-message-box {
  padding: 15px;
  border-top: 1px solid lightgray;
}

.messages-box {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column-reverse;
}

.form-control {
  background-color: #f6f6f7;
}

.message-sender {
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}