.servers-container {
  display: flex;
  flex-direction: column;
  background-color: #202225;
  width: 70px;
  align-items: center;
  flex: 1;
  padding: 10px 0 10px 10px;
  user-select: none;
}

.server-delete {
  font-size: 10px;
}

.new-server-button {
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  background-color: rgb(47, 49, 54);
  background: #202225;
  border-color: #535559;
  color: #535559;
  font-size: 2.5em;
  font-weight: 300;
  border-style: dashed;
  border-width: 1px;
  margin: .5em 0;
  transition: border-color .25s ease,color .25s ease;
}

.new-server-button:hover {
  border-color: hsla(0,0%,100%,.75);
  color: hsla(0,0%,100%,.75);
  cursor: pointer;
}

.new-server-button:active {
  outline: none;
}

.server-name-hover {
  color: white;
}

.server-name {
  color: white;
  background-color: rgb(47, 49, 54);
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  margin: .5em 0;
}

.servers-list {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  width: 88px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.servers-list::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.servers-list::-webkit-scrollbar-track {
  background: transparent;
}

.servers-list::-webkit-scrollbar-corner {
  background: transparent;
}

.servers-list li {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-name-show {
  color: white;
}