.servers-container {
  display: flex;
  flex-direction: column;
  background-color: #202225;
  width: 80px;
  align-items: center;
  flex: 1;
  user-select: none;
  position: relative;
}

.server-delete {
  font-size: 10px;
}

.new-server-button {
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  background-color: rgb(47, 49, 54);
  background: #202225;
  border-color: #535559;
  color: #535559;
  font-size: 2.5em;
  font-weight: 300;
  border-style: dashed;
  border-width: 1px;
  margin: .5em 0;
  transition: border-color .25s ease,color .25s ease;
}

.new-server-button:hover {
  border-color: hsla(0,0%,100%,.75);
  color: hsla(0,0%,100%,.75);
  cursor: pointer;
}

.new-server-button:active {
  outline: none;
}

.servers-list {
  flex: 1 1 auto;
  height: 100%;
  width: 98px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 0 10px 10px;
}

.servers-list::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.servers-list::-webkit-scrollbar-track {
  background: transparent;
}

.servers-list::-webkit-scrollbar-corner {
  background: transparent;
}

.servers-list li {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-name-show {
  color: white;
}

.server-icon-active {
  color: white;
  background: rgb(114, 137, 218);
  border-radius: 35%;
  text-align: center;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  margin: .5em 0;
}

.server-icon {
  color: white;
  background-color: rgb(47, 49, 54);
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  margin: .5em 0;
  animation-fill-mode: forwards;
}

.server-icon:hover {
  animation-duration: .5s;
  animation-name: bubble-out;
  background: rgb(114, 137, 218);
  cursor: pointer;
}

@keyframes bubble-out {
  0% {border-radius: 50%;}
  40% {border-radius: 30%;}
  70% {border-radius: 40%;}
  100% {border-radius: 35%;}
}

.server-name-hover {
  color: white;
  position: absolute;
  right: -50%;
}

.server-name {
  text-align: left;
}
