.server-show-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  color: #f8f8f8;
  background-color: #2f3136;
  min-width: 240px;
  height: 100%;
}

.server-show-header {
  display: flex;
  font-size: 15px;
  vertical-align: center;
  min-height: 43px;
  background-color: #2f3136;
  padding: .6em;
  padding-left: 15px;
  padding-top: 12px;
  border-bottom: 1px solid black;
}

.server-invite {
  background-color: #282b30;
  display: flex;
  justify-content: center;
  min-height: 210px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #a3a5a6;
  border: 1px solid white;
}
.server-invite div {
  border: 1px solid yellow;
}
.filler-channels {
  background-color: #2f3136;
  height: 100%;
}

.server-show-user {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
  background-color: #2a2c31;
}

.logout-button {
  margin-left: 20px;
}

.channels-header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 10px;
}

.text-channels {
  font-size: 12.5px;
  font-weight: 700;
  vertical-align: center;
}

.new-channel-btn {
  font-size: 23px;
  padding-right: 11px;
}

.new-channel-btn:hover {
  cursor: pointer;
}

.channels-container {
  color: #72767d;
  font-size: 14px;
}

.channel-name {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 15px;
}

.channel-name:hover {
  cursor: pointer;
  background-color: #42464dd4;
  border-radius: 4px;
}

.channel-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.avatar {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.channels-list {
}